@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html,
  body {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Helvetica, Arial, sans-serif;
  }
} */

@layer components {
  .leftSideItem {
    @apply w-min p-[11px];
  }

  .leftSide {
    @apply cursor-pointer;
  }

  .leftSide:hover .leftSideItem {
    @apply bg-[#E7E7E8]  rounded-3xl cursor-pointer;
  }

  .tweet-image {
    @apply w-full h-auto rounded-2xl mt-3;
  }

  .tweet-icon {
    @apply flex items-center space-x-3;
  }

  .tweet-icon-icon {
    @apply fill-[#536471] transition-all;
  }
  .tweet-p {
    @apply text-[#536471] text-sm transition-all;
  }

  .tweet-icon:nth-child(1):hover .tweet-icon-icon {
    @apply fill-[#2F9CE5] transition-all;
  }

  .tweet-icon:nth-child(1):hover .tweet-p {
    @apply text-[#2F9CE5] transition-all;
  }

  .tweet-icon:nth-child(2):hover .tweet-icon-icon {
    @apply fill-[#00ba7c] transition-all;
  }

  .tweet-icon:nth-child(2):hover .tweet-p {
    @apply text-[#00ba7c] transition-all;
  }

  .tweet-icon:nth-child(3):hover .tweet-icon-icon {
    @apply fill-[#EB1779] transition-all;
  }

  .tweet-icon:nth-child(3):hover .tweet-p {
    @apply text-[#EB1779] transition-all;
  }
  .tweet-icon:nth-child(4):hover .tweet-icon-icon {
    @apply fill-[#2F9CE5] transition-all;
  }
  .message-box {
    @apply bg-white shadow-[0_2px_10px_2px_rgba(0,0,0,0.3)] rounded-t-2xl bottom-14 translate-y-full z-40 w-[400px] h-[472px] right-7 transform fixed transition duration-500 ease-in-out;
  }

  .message-box-open {
    @apply bottom-0 translate-y-14;
  }

  .messageItem {
    @apply p-4 flex items-center space-x-2 hover:bg-[#eff3f4] cursor-pointer transition-all;
  }

  .messageMoreIcon {
    @apply hidden;
  }
  .messageItem:hover .messageMoreIcon {
    @apply block;
  }

  .profileBarBlueAnimation {
    position: absolute;
    background-color: #1d9bf0;
    bottom: 0px;
    width: 0%;
    height: 4px;
    animation: profile-bar-blue-animation 1s forwards 1 ease-in-out;
  }

  @keyframes profile-bar-blue-animation {
    100% {
      width: 100%;
    }
    0% {
      width: 0%;
    }
  }
  .scroll-container-2 {
    @apply mt-3 scroll-smooth h-[248px] grid grid-rows-5 grid-flow-col gap-2; 
  }
  .navigate-2 {
    @apply absolute z-10 top-[122px] bg-[#0f1419bf] hover:bg-[#272c30bf] transition-all h-9 w-9 drop-shadow-lg -translate-y-1/2 text-black rounded-full;
  }
  .next-navigate-2 {
    @apply right-0;
  }
  .prev-navigate-2 {
    @apply left-0;
  }
}
